<app-navbar></app-navbar>
<div class="container ">

      <div class="row" >
        <div class="col-4">

          <button  class="btn btn-outline-warning button1"  [routerLink]="['/Ecommers/catalogoCompra']" >Seguir comprando</button></div>
        <div class="col-4  align-self-center"   >
          <div class="confi">
          <div class="card text-bg-dark"  >
            <img [src]="productBuy2.img" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-text"> </h5>
              <h5 class="card-text"  > {{productBuy2.name}}</h5>
              <p class="card-text"> {{productBuy2.price| currency: 'COP'}}</p>
              <p class="card-text"> {{productBuy2.inInventory}}</p>
              <div *ngIf="productBuy2.enabled">
              <input type="number" disabled="false"  min="1" max="200" [(ngModel)]="cantidad">
              <button (click)="addToCart(productBuy2.id,cantidad)"  class="btn btn-outline-warning">Añadir Al carrito</button>
            </div>
              <div *ngIf="!productBuy2.enabled">
                <p class="notice">Producto Agotado</p>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="col-4">

          <button  class="btn btn-outline-warning button2"  [routerLink]="['/Ecommers/Factura']" >Factura de Compra</button></div>
        </div>
    </div>


