<app-navbar></app-navbar>
<div class="container">
      <div class="row">
        <div class="col-sm-4"  *ngFor="let factura of invoices">
          <div class="card text-bg-dark border-warning h-500" style="width: 200;">
            <img src="../../../../../assets/img/bolsa.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-text"> </h5>
              <h5 class="card-text"> {{factura.account}}</h5>
              <p class="card-text"> Id: {{factura.clientId}}</p>
              <p class="card-text"> fecha: {{factura.date | date :'short'}}</p>
              <div class="dropdown">
                <button class="btn bg-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Detalle
                </button>
                <ul   class="dropdown-menu">
                  <div class="container">
                  <li *ngFor="let producto of factura.products" class="container">{{producto.name}} Unidades:{{producto.cantidad}} total:{{producto.price | currency: 'COP'}}</li>
                </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

