button{
  width: 100%;
}
.dropdown-menu
{
  --bs-dropdown-bg: #FFC107;
}
hr
{
  height: 10px;
  background-color: black;
}
li
{
  background: #ffe86a;
  color: #000000;
  margin: 5px;
  border-radius: 200px;

}
