<ng-template #content let-modal>
  <div class="modal-header">
  </div>
  <div class="modal-body">

    <div class="container">
      <div class="card text-center">
        <div class="card-header font2">
          <b>Edit Respuestas</b>
        </div>
        <div class="card-body p-4">
          <div class="form-floating font2" style="margin-top: 20px;">

              <input type="text"[(ngModel)]="ProductCrear.name">
              <input type="text"[(ngModel)]="ProductCrear.inInventory">
              <input type="text"[(ngModel)]="ProductCrear.enabled">
              <input type="text"[(ngModel)]="ProductCrear.min">
              <input type="text"[(ngModel)]="ProductCrear.max">
              <input type="text"[(ngModel)]="ProductCrear.img">
              <input type="text"[(ngModel)]="ProductCrear.state">
              <input type="text"[(ngModel)]="ProductCrear.price">





              <div class="row g-3">
                <div class="col-md-10">
                  <label class="form-label">Name</label>
                  <input type="text" class="form-control" [(ngModel)]="ProductCrear.name" >
                </div>
                <div class="col-md-6">
                  <label class="form-label ">inInventory</label>
                  <input type="text" class="form-control" [(ngModel)]="ProductCrear.inInventory" >
                </div>
                <div class="col-md-3">
                  <label for="validationDefault04" class="form-label">State</label>
                  <input type="text" class="form-control" [(ngModel)]="ProductCrear.state" >
                </div>

                <div class="col-md-3">
                  <label for="validationDefault04" class="form-label">enabled</label>
                  <input type="text" class="form-control" [(ngModel)]="ProductCrear.enabled" >
                </div>
                <div class="col-md-2">
                  <label class="form-label ">min</label>
                  <input type="text" class="form-control" [(ngModel)]="ProductCrear.min"  >
                </div>
                <div class="col-md-2">
                  <label class="form-label ">max</label>
                  <input type="text" class="form-control" [(ngModel)]="ProductCrear.max"  >
                </div>
                <div class="col-md-6">
                  <label class="form-label">price</label>
                  <input type="text" class="form-control" [(ngModel)]="ProductCrear.price" >
                </div>ProductCrear

                <div class="col-12">
                  <button pButton (click)="(CrearProduct())" pRipple type="button" label="Actualizar Producto"
                  class="btn btn-warning"></button>n>
                </div>
              </div>



            <br> 
          </div>


          <hr>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button"  class="btn btn-warning"
      (click)="modal.close('Close click')">cerrar</button>
  </div>
</ng-template>

<button class="btn btn-warning" (click)="openVerticallyCentered(content)">Agregar Producto al Catalogo</button>

