
<div class="container ">
  <div class="row" >

    <div class="col-8  align-self-center"   >
      <div class="confi">
        <img src="../../assets/img/404-PhotoRoom.png-PhotoRoom (1).png" class="card-img-top img2" >
      </div>
    </div>
    <div class="col-4">
      <div class="card card-margin">
        <div class="card-header no-border">
            <h5 class="card-title">?_?</h5>
        </div>
        <div class="card-body pt-0">
            <div class="widget-49">
                <div class="widget-49-title-wrapper">
                    <div class="widget-49-date-primary">
                        <span class="widget-49-date-day">X_X</span>

                    </div>
                    <div class="widget-49-meeting-info">
                        <span class="widget-49-pro-title">ERROR. CAUSAS</span>

                    </div>
                </div>
                <ol class="widget-49-meeting-points">
                    <li class="widget-49-meeting-item"><span>No credenciales</span></li>
                    <li class="widget-49-meeting-item"><span>pagina no encontrada</span></li>
                    <li class="widget-49-meeting-item"><span>Error inesperado</span></li>
                </ol>
                <div class="widget-49-meeting-action">
                    <a [routerLink]="['/Ecommers/catalogoCompra']" class="btn btn-sm btn-flash-border-primary">Volver</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

</div>
