<div class="container">
<input type="text" [(ngModel)]="ProductName">
<button (click)="buscar()"class="btn btn-primary btn-sm" >buscar</button>

    <div class="row">
      <div class="col-sm-3"  *ngFor="let product1 of products">
        <div></div>
        <div class="card text-bg-dark border-warning h-500" style="width: 200;">
          <img [src]="product1.img" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-text"> </h5>

            <h5 class="card-text"  > {{product1.name}}</h5>
            <p class="card-text"> {{product1.price}}</p>

            <a href="#" class="btn btn-primary">Anadir</a>
            <button (click)="borrado(product1.id)"  class="btn btn-primary"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
