<app-navbar></app-navbar>

<div class="container">
<div class="row g-3">
  <div class="col-md-6">
    <label  class="form-label">Nombre</label>
    <input type="text" class="form-control" >
  </div>

  <div class="col-10">
    <label for="inputAddress" class="form-label">Fecha de compra</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>

  <div class="col-md-6">
    <label for="inputCity" class="form-label">Numero de identificacion</label>
    <input type="text" class="form-control" id="inputCity">
  </div>

  <div class="col-md-2">
    <label  class="form-label">Tipo de Id</label>
    <input type="text" class="form-control">
  </div>
  <br>
  <br>

</div>

<div class="col-md-10">
  <label  class="form-label"> Carrito de compra</label>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
</div>
