<app-navbar></app-navbar>

<div class="container">
<div class="row g-3">
  <div class="col-md-6">
    <label  class="form-label">Nombre</label>
    <input type="text" class="form-control"  [(ngModel)]="InvoiceCrear.clientName" >
  </div>

  <div class="col-10">
    <label for="inputAddress" class="form-label">Fecha de compra</label>
    <input type="text" class="form-control" [(ngModel)]="InvoiceCrear.date" >
  </div>

  <div class="col-md-6">
    <label for="inputCity" class="form-label">Numero de identificacion</label>
    <input type="text" class="form-control"[(ngModel)]="InvoiceCrear.clientId" >
  </div>

  <div class="col-md-2">
    <label  class="form-label">Tipo de Id</label>
    <input type="text" class="form-control"[(ngModel)]="InvoiceCrear.idtype" >
  </div>
  <br>
  <br>

</div>

<div class="col-md-10">
  <label  class="form-label"> Carrito de compra</label>
  <textarea class="form-control" [(ngModel)]="InvoiceCrear.products"></textarea>
</div>
<div class="col-12">
  <button pButton (click)="(CrearInvoice())" pRipple type="button" label="Actualizar Producto"
  class="btn btn-warning">Pagar</button>
</div>
</div>
