.tarjeta{
 margin-top: 2%;
 border-radius: 20px;
 border: 2px solid #86A5D9;;
}
.search-results-container{
  height: 439px;

  overflow: auto;
  scroll-behavior: smooth;
  color:#444545;

}
.search-results-container::-webkit-scrollbar{
  width: 7px;

}
button{
margin-top: 10px;
}

.search-results-container::-webkit-scrollbar-thumb{
 background: #86A5D9;
 border-radius: 20%;

}

img{
  margin-top: 5%;
  width: 100%;

}

