<app-navbar></app-navbar>
<div class="container">
  <app-crear ></app-crear>
  <app-crear-admin></app-crear-admin>

  <input type="text" [(ngModel)]="ProductName" (ngModelChange)="buscar()" placeholder="Buscar">


      <div class="row g-lg-3">
        <div class="col-sm-3"  *ngFor="let product1 of products">
          <div class="card text-bg-dark border-warning h-500" style="width: 200;">
            <img [src]="product1.img" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-text"> </h5>
              <h5 class="card-text"  > {{product1.name}}</h5>
              <p class="card-text"> {{product1.price| currency: 'COP'}}</p>


              <div *ngIf="product1.enabled">


              </div>

              <div *ngIf="!product1.enabled">
                <p class="notice">Producto Agotado</p>
              </div>

              <button (click)="borrado(product1.id)"  class="btn btn-outline-warning">Borrado</button>

              <app-edit [ProductEdit]="product1"></app-edit>


            </div>
          </div>
        </div>
      </div>
    </div>
